<div style="margin:10em auto 6em auto;" class="container">
  <div class="row">

    <%= form_for @ally, :url => allies_path , :html => { :multipart => true } do | f | %>
    <%= f.text_field :name, placeholder: 'Nombre' %><br/>
    <%= f.text_field :link, placeholder: 'Link' %><br/>
    <%= f.label :logo %>
    <%= f.file_field :logo %>
    <%= f.submit "Crear aliado", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
