<%= form_for @opinion, :url => opinions_path, :html => { :multipart => true } do |f| %>
    <div class="row">
      <div class="col-md-6">
        <p>
          <%= f.label "Agrega una imagen:" %>
          <%= f.file_field :avatar %>
        </p>

        <p>
          <%= f.label "Número (Recuerda que en la página inicial aparecerán los primeros 3):" %> <br>
          <%= f.number_field :number %>
        </p>

        <p>
          <%= f.label "Nombre:" %> <br>
          <%= f.text_field :name %>
        </p>

        <p>
          <%= f.label "Cargo:" %> <br>
          <%= f.text_field :position %>
        </p>

        <p>
          <%= f.label "Opinión:" %> <br>
          <%= f.text_area :opinion %>
        </p>

        <p>
          <%= f.submit new_form %>
        </p>
      </div>
    </div>
  <% end %>