<div class="page-header parallax" style="background-image:url(http://placehold.it/1200x300&amp;text=IMAGE+PLACEHOLDER); margin-top: 150px">
  <div class="container">
    <h1 class="page-title">Blog</h1>
  </div>
</div>
<!-- Utiity Bar -->
<div class="utility-bar">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-8">
        <ol class="breadcrumb">
          <li><a href="index.html">Inicio</a></li>
          <li class="active">Noticias</li>
        </ol>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-4">
      </div>
    </div>
  </div>
</div>
<!-- Start Body Content -->
<div class="main" role="main">
  <div id="content" class="content full">
    <div class="container">
      <div class="row">
        <div class="col-md-9 posts-archive">

          <% @news.each do |news| %>
            <article class="post format-standard">
              <div class="row">
                <div class="col-md-4 col-sm-4"> <a href="<%= news_url(news) %>"><%= image_tag(news.image.url(:normal)) %></a> </div>
                <div class="col-md-8 col-sm-8">
                  <div class="post-actions">
                    <div class="post-date"><%= news.created_at.strftime("%B %d, %Y") %></div>
                  </div>
                  <h3 class="post-title"><a href="<%= news_url(news) %>"><%= news.title %></a></h3>
                  <p><%= raw news.content.split(" ").first(50).join(" ") %>... <a href="<%= news_url(news) %>" class="continue-reading">Seguir leyendo <i class="fa fa-long-arrow-right"></i></a></p>
                  <div class="post-meta">Categoría: <a href="#"><%= news.category.name %></a></div>
                </div>
              </div>
            </article>
          <% end %>
          <ul class="pagination">
            <li><a href="#"><i class="fa fa-chevron-left"></i></a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#"><i class="fa fa-chevron-right"></i></a></li>
          </ul>
        </div>
        <!-- Start Sidebar -->
        <div class="col-md-3 sidebar">
          <div class="widget sidebar-widget search-form-widget">
            <div class="input-group input-group-lg">
              <input type="text" class="form-control" placeholder="Search Posts...">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button"><i class="fa fa-search fa-lg"></i></button>
              </span>
            </div>
          </div>
          <div class="widget sidebar-widget widget_categories">
            <h3 class="widgettitle">Post Categories</h3>
            <ul>
              <% @categories.each do |category| %>

              <li><a href="#"><%= category.name %></a> (<%= category.news.count %>)</li>
              <% end %>
            </ul>
          </div>
          <div class="widget sidebar-widget widget_recent_reviews">
            <h3 class="widgettitle">Latest Reviews</h3>
            <div class="post-block post-review-block">
              <div class="review-status">
                <strong>3.6</strong>
                <span>Out of 5</span>
              </div>
              <h3 class="post-title"><a href="single-review-post.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a></h3>
            </div>
            <div class="post-block post-review-block">
              <div class="review-status">
                <strong>4.1</strong>
                <span>Out of 5</span>
              </div>
              <h3 class="post-title"><a href="single-review-post.html">Curabitur nec nulla lectus, non hendrerit lorem porttitor eget</a></h3>
            </div>
            <div class="post-block post-review-block">
              <div class="review-status">
                <strong>5.0</strong>
                <span>Out of 5</span>
              </div>
              <h3 class="post-title"><a href="single-review-post.html">2014 Proin enim quam, vulputate at lobortis quis, condimentum at justo</a></h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<a id="back-to-top"><i class="fa fa-angle-double-up"></i></a>