  <div class="hero-area" style="margin-top: 200px">
    <!-- Start Hero Slider -->
    <div class="hero-slider heroflex flexslider clearfix" data-autoplay="yes" data-pagination="no" data-arrows="yes" data-style="fade" data-speed="7000" data-pause="yes">
      <ul class="slides">
        <li class="parallax" style="background-image:url(<%= asset_path(@page.image) %>);" data-mercury="image" id="page_image"></li>
        <li class="parallax" data-mercury="image" id="page_image1" style="background-image:url(<%= @page.image1 %>);"></li>
      </ul>

    </div>
    <!-- End Hero Slider -->
  </div>

  <!-- Utiity Bar -->
  <!-- Start Body Content -->
  <div class="main" role="main">
    <div id="content" class="content full padding-b0">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-4">
            <div class="icon-box ibox-outline ibox-center ibox-dark">
              <div class="ibox-icon">
                <i class="fa fa-wrench"></i>
              </div>
              <h3 data-mercury="full" id="page_content"><%= @page.content.html_safe %></h3>
              <p data-mercury="full" id="page_content1"><%= @page.content1.html_safe %></p>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="icon-box ibox-outline ibox-center ibox-dark">
              <div class="ibox-icon">
                <i class="fa fa-car"></i>
              </div>
              <h3 data-mercury="full" id="page_content2"><%= @page.content2.html_safe %></h3>
              <p data-mercury="full" id="page_content3"><%= @page.content3.html_safe %></p>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="icon-box ibox-outline ibox-center ibox-dark">
              <div class="ibox-icon">
                <i class="fa fa-paperclip"></i>
              </div>
              <h3 data-mercury="full" id="page_content4"><%= @page.content4.html_safe %></h3>
              <p data-mercury="full" id="page_content5"><%= @page.content5.html_safe %></p>
            </div>
          </div>
        </div>
        <div class="spacer-60"></div>
      </div>



      <div class="spacer-75"></div>
      <div class="container">
        <!-- Left Column -->
        <div class="row">
          <div class="col-md-6">
            <!-- Welcome text -->
            <div data-mercury="full" id="page_content18">
              <%= @page.content18.html_safe %>
            </div>
            <p><a href="#" class="btn btn-lg btn-primary" data-mercury="full" id="page_content19"><%= @page.content19.html_safe %></a></p>

          </div>

          <!-- Right Column -->
          <div class="col-md-6">
            <!-- Additional Service -->
            <div class="service-block" data-mercury="image" id="page_image5">
              <a href="#"><img src="<%= @page.image5 %>" alt="" width="200px"></a>
              <div class="service-block-in">
                <div data-mercury="full" id="page_content20">
                  <%= @page.content20.html_safe %>
                </div>
              </div>
            </div>
            <div class="service-block" data-mercury="image" id="page_image6">
              <a href="#"><img src="<%= @page.image6 %>" alt="" width="200px"></a>
              <div class="service-block-in">
                <div data-mercury="full" id="page_content21">
                  <%= @page.content21.html_safe %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="spacer-60"></div>

      </div>

      <div class="container">
        <!-- Left Column -->
        <div class="row">
          <div class="col-md-6">
            <!-- Welcome text -->
              <div data-mercury="full" id="page_content22">
                <%= @page.content22.html_safe %>
              </div>
            <p><a href="#" class="btn btn-lg btn-primary" data-mercury="full" id="page_content23"><%= @page.content23.html_safe %></a></p>

          </div>

          <!-- Right Column -->
          <div class="col-md-6">
            <!-- Additional Service -->
            <div class="service-block" data-mercury="image" id="page_image7">
              <a href="#"><img src="<%= @page.image7 %>" alt="" width="200px"></a>
              <div class="service-block-in">
                <div data-mercury="full" id="page_content24">
                  <%= @page.content24.html_safe %>
                </div>
              </div>
            </div>
            <div class="service-block" data-mercury="image" id="page_image8">
              <a href="#"><img src="<%= @page.image8 %>" alt="" width="200px"></a>
              <div class="service-block-in">
                <div data-mercury="full" id="page_content25">
                  <%= @page.content25.html_safe %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="spacer-60"></div>

      </div>

      <div class="container">
        <!-- Left Column -->
        <div class="row">
          <div class="col-md-6">
            <!-- Welcome text -->
            <div data-mercury="full" id="page_content26">
              <%= @page.content26.html_safe %>
            </div>
            <p><a href="#" class="btn btn-lg btn-primary" data-mercury="full" id="page_content27"><%= @page.content27.html_safe %></a></p>

          </div>

          <!-- Right Column -->
          <div class="col-md-6">
            <!-- Additional Service -->
            <div class="service-block" data-mercury="image" id="page_image9">
              <a href="about.html"><img src="<%= @page.image9 %>" alt="" width="200px"></a>
              <div class="service-block-in">
                <div data-mercury="full" id="page_content28">
                  <%= @page.content28.html_safe %>
                </div>
              </div>
            </div>
            <div class="service-block" data-mercury="image" id="page_image10">
              <a href="about.html"><img src="<%= @page.image10 %>" alt="" width="200px"></a>
              <div class="service-block-in">
                <div data-mercury="full" id="page_content29">
                  <%= @page.content29.html_safe %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="spacer-60"></div>


      </div>
      <div class="dark-bg parallax parallax1" style="background-image:url(http://placehold.it/1400x500&amp;text=IMAGE+PLACEHOLDER);">
        <div class="overlay-transparent padding-tb75">
          <div class="container">
            <!-- Recently Listed Vehicles -->
            <section class="listing-block recent-vehicles">
              <div class="text-align-center">
                <h3>Nuestro Trabajo</h3>
              </div>
              <div class="listing-container">
                <div class="carousel-wrapper">
                  <div class="row">
                    <ul class="owl-carousel" id="vehicle-slider" data-columns="3" data-autoplay="" data-pagination="yes" data-arrows="yes" data-single-item="no" data-items-desktop="3" data-items-desktop-small="3" data-items-tablet="3" data-items-mobile="1">
                      <li class="item">
                        <div class="vehicle-block format-standard">
                          <a href="https://www.youtube.com/watch?v=<%= Link.find(1).url %>" data-rel="prettyPhoto" data-mercury="image" id="page_image2"><img src="<%= @page.image2 %>" alt=""></a>
                          <div class="vehicle-block-content">
                            <span class="label label-primary vehicle-age" data-mercury="full" id="page_content6"><%= @page.content6.html_safe %></span>
                            <h5 class="vehicle-title" data-mercury="full" id="page_content7"><%= @page.content7.html_safe %></h5>
                            <span class="vehicle-meta" data-mercury="full" id="page_content8"><%= @page.content8.html_safe %></span>
                            <span class="vehicle-cost" data-mercury="full" id="page_content9"><%= @page.content9.html_safe %></span>
                          </div>
                        </div>
                      </li>
                      <li class="item">
                        <div class="vehicle-block format-standard">
                          <a href="https://www.youtube.com/watch?v=<%= Link.find(2).url %>" data-rel="prettyPhoto" data-mercury="image" id="page_image3"><img src="<%= @page.image3 %>" alt=""></a>
                          <div class="vehicle-block-content">
                            <span class="label label-primary vehicle-age" data-mercury="full" id="page_content10"><%= @page.content10.html_safe %></span>
                            <h5 class="vehicle-title" data-mercury="full" id="page_content11"><%= @page.content11.html_safe %></h5>
                            <span class="vehicle-meta" data-mercury="full" id="page_content12"><%= @page.content12.html_safe %></span>
                            <span class="vehicle-cost" data-mercury="full" id="page_content13"><%= @page.content13.html_safe %></span>
                          </div>
                        </div>
                      </li>
                      <li class="item">
                        <div class="vehicle-block format-standard">
                          <a href="https://www.youtube.com/watch?v=<%= Link.find(3).url %>" data-rel="prettyPhoto" data-mercury="image" id="page_image4"><img src="<%= @page.image4 %>" alt=""></a>
                          <div class="vehicle-block-content">
                            <span class="label label-default vehicle-age" data-mercury="full" id="page_content14"><%= @page.content14.html_safe %></span>
                            <h5 class="vehicle-title" data-mercury="full" id="page_content15"><%= @page.content15.html_safe %></h5>
                            <span class="vehicle-meta" data-mercury="full" id="page_content16"><%= @page.content16.html_safe %></span>
                            <span class="vehicle-cost" data-mercury="full" id="page_content17"><%= @page.content17.html_safe %></span>
                          </div>
                        </div>
                      </li>

                    </ul>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>

<style>
  div.pp_default .pp_content, div.light_rounded .pp_content{
    background:#000;
  }
  .pp_content{
    background:#000000;
    height:320px !important;
    /*padding-top:20px;*/
  }
</style>
