<%= bootstrap_form_for @vehicle, :html => { :multipart => true } do |f| %>
    <div class="row">
      <div class="col-md-6">
          <%= f.select :vehicle_class, options_for_select(Vehicle.vehicle_classes.keys, @vehicle.vehicle_class), label: "Carro o moto:" %>
          <label for="radio">Usado:</label>
          <%= f.radio_button :used, true, :checked => (@vehicle.used == true), label: "Sí", required: true %>
          <%= f.radio_button :used, false, :checked => (@vehicle.used == false), label: "No", required: true %>
          <%= f.collection_select( :brand_id, Brand.all, :id, :name, label: "Marca:", :required => true ) %>
          Puedes agregar hasta 5 imagenes por vehículos (sin embargo, no es obligatorio). En las vistas de vehículos se mostrará la primera foto que agregues.
          <div class="row" id="image-for-article">
            <% if current_page == "new" %>
              <%= f.fields_for :vehicle_images do |vehicle_image| %>
                <div class="form-group reg-email">
                  <div>
                    <%= vehicle_image.file_field :image, class: "input-file", label: "Imagen: " %>
                  </div>
                </div>
              <% end %>
            <% elsif current_page == "edit" %>
              <table class="table">
                <tr>
                  <th>1</th>
                  <th>2</th>
                  <th>3</th>
                  <th>4</th>
                  <th>5</th>
                </tr>
                <tr>
              <% @vehicle.vehicle_images.each do |vehicle_image| %>
                <td><%= image_tag(vehicle_image.image.url(:medium)) %></td>
              <% end %>
                </tr>
              </table>
              <%= f.fields_for :vehicle_images do |vehicle_image| %>
                <div class="form-group reg-email">
                  <div>
                    <%= vehicle_image.file_field :image, class: "input-file", label: "Imagen: " %>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
          <%= f.text_field :name, required: true, label: "Nombre del vehículo:" %>
          <%= f.number_field :year, required: true, label: "Modelo:" %>
          <%= f.text_field :state, required: true, label: "Estado:" %>
          <%= f.number_field :price, required: true, label: "Precio:" %>
          <%= f.select :transmission, options_for_select(Vehicle.transmissions.keys, @vehicle.transmission), label: "Tipo de tansmisión:" %>
          <%= f.select :gas, options_for_select(Vehicle.gas.keys, @vehicle.gas), label: "Tipo de combustible:" %>
          <%= f.text_field :engine, required: true, label: "Motor:" %>
          <%= f.number_field :mileage, required: true, label: "Kilometraje:" %>
          <div class='upholstery'>
            <%= f.select :upholstery, options_for_select(Vehicle.upholsteries.keys, @vehicle.upholstery), label: "Cojinería" %>
          </div>
          <%= f.select :vehicle_type, options_for_select(Vehicle.vehicle_types.keys, @vehicle.vehicle_type), label: "Tipo de vehículo:" %>
          <%= f.text_field :video, label: "Link de video (si lo hay):" %>
          <%= f.text_field :color, required: true, label: "Color:" %>
          <div class='license-plate'>
            <%= f.text_field :license_plate_city, required: true, label: "Ciudad de la placa:" %>
            <%= f.number_field :license_plate, required: true, label: "Placa (último dígito):" %>
          </div>
          <%= f.text_area :comments, required: true, label: "Comentarios:" %>
          <div class='air-conditioning'>
            <label for="radio">Aire Acondicionado:</label>
            <%= f.radio_button :air_conditioning, true, label: "Sí", required: true %>
            <%= f.radio_button :air_conditioning, false, label: "No", required: true %>
          </div>
          <div class='shielding'>
            <label for="radio">Blindado:</label>
            <%= f.radio_button :shield, true, label: "Sí", required: true %>
            <%= f.radio_button :shield, false, label: "No", required: true %>
          </div>
          <hr>
          <p>Los siguientes datos se usarán para organizar las vistas del vehículo.</p>
          <%= f.text_area :description, required: true, label: "Descripción general:" %>
          <%= f.text_area :internal_features, required: true, label: "Caracteristicas internas (Separe cada una de estas con coma. Ej: Luces,Cojineria,Frenos):" %>
          <%= f.text_area :external_features, required: true, label: "Caracteristicas externas (Separe cada una de estas con coma. Ej: Luces,Cojineria,Frenos):" %>
          <%= f.text_area :safety_features, required: true, label: "Caracteristicas de seguridad (Separe cada una de estas con coma. Ej: Luces,Cojineria,Frenos):" %>
          <%= f.text_area :extras, required: true, label: "Extras (Separe cada una de estas con coma. Ej: Luces,Cojineria,Frenos):" %>
          <%= f.submit form_submit %>
      </div>
    </div>

<hr>

<%= link_to vehicles_path do %>
  <button class="btn btn-default" style="margin-top: 20px;"><span class="fa fa-arrow-left"></span> Atrás</button>
<% end %>

<script>
  $('#vehicle_vehicle_class').on('change', function() {
    var formValue = $('#vehicle_vehicle_class').val();
    if (formValue == 'moto') {
      console.log('Hello World');
      $('.shielding').html('');
      $('.air-conditioning').html('');
      $('.upholstery').html('');
      $('.license-plate').html('');
    } else {
      $('.shielding').html("<label for='radio'>Blindado:</label> <%=j f.radio_button :shield, true, label: 'Sí', required: true %> <%=j f.radio_button :shield, false, label: 'No', required: true %>");
      $('.air-conditioning').html('<label for="radio">Aire Acondicionado:</label> <%=j f.radio_button :air_conditioning, true, label: "Sí", required: true %> <%=j f.radio_button :air_conditioning, false, label: "No", required: true %>');
      $('.upholstery').html('<%=j f.select :upholstery, options_for_select(Vehicle.upholsteries.keys, @vehicle.upholstery), label: "Cojinería" %>');
      $('.license-plate').html('<%=j f.text_field :license_plate_city, required: true, label: "Ciudad de la placa:" %> <%=j f.number_field :license_plate, required: true, label: "Placa (último dígito):" %>');
    }
  })
</script>
<% end %>