<%= bootstrap_form_for @vehicle, :html => { :multipart => true } do |f| %>
    <div class="row">
      <div class="col-md-6">
          <%= f.file_field :image, label: "Agrega una imagen:" %>
          <%= f.text_field :name, lable: "Nombre del vehículo:" %>
          <%= f.number_field :year, label: "Año:" %>
          <%= f.text_field :state, label: "Estado:" %>
          <%= f.number_field :price, label: "Precio:" %>
          <%= f.collection_select :transmission, options_for_select(Vehicle.gas.keys), label: "Tipo de combustible:" %>
          <%= f.select :gas, options_for_select(Vehicle.gas.keys), label: "Tipo de combustible:" %>
          <%= f.text_field :engine, label: "Motor:" %>
          <%= f.number_field :mileage, label: "Kilometraje:" %>
          <%= f.text_field :upholstery, label: "Cojinería" %>
          <%= f.select :type, options_for_select(Vehicle.type.keys), label: "Tipo de vehículo:" %>
          <%= f.text_field :video, label: "Link de video (si lo hay):" %>
          <%= f.text_field :color, label: "Color:" %>
          <%= f.number_field :license_plate, label: "Placa (último dígito):" %>
          <%= f.text_area :comments, label: "Comentarios:" %>
          <label for="radio">Usado:</label>
          <%= f.radio_button :used, true, label: "Sí" %>
          <%= f.radio_button :used, false, label: "No" %>
          <label for="radio">Aire Acondicionado:</label>
          <%= f.radio_button :used, true, label: "Sí" %>
          <%= f.radio_button :used, false, label: "No" %>
          <label for="radio">Blindado:</label>
          <%= f.radio_button :used, true, label: "Sí" %>
          <%= f.radio_button :used, false, label: "No" %>
          <%= f.submit form_submit %>
      </div>
    </div>
<% end %>

<hr>

<%= link_to opinions_path do %>
  <button class="btn btn-default" style="margin-top: 20px;"><span class="fa fa-arrow-left"></span> Atrás</button>
<% end %>
