<div class="page-header parallax" style="background-image:url(<%= asset_path(@page.image) %>); margin-top: 150px;" data-mercury="image" id="page_image">
  <div class="container">
    <h1 class="page-title">Búsqueda</h1>
  </div>
</div>
<!-- Utiity Bar -->
<div class="utility-bar">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-8">
        <ol class="breadcrumb">
          <li><a href="index.html">Inicio</a></li>
          <li class="active">Búsqueda</li>
        </ol>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-4">
      </div>
    </div>
  </div>
</div>
<!-- Actions bar -->
<div class="actions-bar tsticky">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-3 search-actions">
        <ul class="utility-icons tools-bar">
          <li><a href="#"><i class="fa fa-star-o"></i></a>
            <div class="tool-box">
              <div class="tool-box-head">
                <a href="#" class="basic-link pull-right">View all</a>
                <h5>Saved cars</h5>
              </div>
              <div class="tool-box-in">
                <ul class="listing tool-car-listing">
                  <li>
                    <div class="checkb"><input type="checkbox"></div>
                    <div class="imageb"><a href="vehicle-details.php"><img src="http://placehold.it/600x400&amp;text=IMAGE+PLACEHOLDER" alt=""></a></div>
                    <div class="textb">
                      <a href="vehicle-details.php">Nissan Terrano first hand</a>
                      <span class="price">$28000</span>
                    </div>
                    <div class="delete"><a href="#"><i class="icon-delete"></i></a></div>
                  </li>
                  <li>
                    <div class="checkb"><input type="checkbox"></div>
                    <div class="imageb"><a href="vehicle-details.html"><img src="http://placehold.it/600x400&amp;text=IMAGE+PLACEHOLDER" alt=""></a></div>
                    <div class="textb">
                      <a href="#">Mercedes Benz E class</a>
                      <span class="price">$76000</span>
                    </div>
                    <div class="delete"><a href="#"><i class="icon-delete"></i></a></div>
                  </li>
                </ul>
              </div>
              <div class="tool-box-foot">
                <a href="joinus.html" class="btn btn-xs btn-primary pull-right">Join</a>
                <a href="#" class="pull-right tool-signin" data-toggle="modal" data-target="#loginModal">Sign in</a>
                <a href="#" class="btn btn-xs btn-info">Compare(2)</a>
              </div>
            </div>
          </li>
          <li><a href="#"><i class="fa fa-folder-o"></i></a>
            <div class="tool-box">
              <div class="tool-box-head">
                <a href="user-dashboard-saved-searches.html" class="basic-link pull-right">View all</a>
                <h5>Saved searches</h5>
              </div>
              <div class="tool-box-in">
                <ul class="listing tool-search-listing">
                  <li>
                    <div class="link"><a href="#">Search name</a></div>
                    <div class="delete"><a href="#"><i class="icon-delete"></i></a></div>
                  </li>
                  <li>
                    <div class="link"><a href="#">Search name</a></div>
                    <div class="delete"><a href="#"><i class="icon-delete"></i></a></div>
                  </li>
                  <li>
                    <div class="link"><a href="#">Search name</a></div>
                    <div class="delete"><a href="#"><i class="icon-delete"></i></a></div>
                  </li>
                </ul>
              </div>
              <div class="tool-box-foot">
                <a href="joinus.html" class="btn btn-xs btn-primary pull-right">Join</a>
                <a href="#" class="pull-right tool-signin" data-toggle="modal" data-target="#loginModal">Sign in</a>
              </div>
            </div>
          </li>
          <li><a href="#"><i class="fa fa-clock-o"></i></a>
            <div class="tool-box">
              <div class="tool-box-head">
                <h5>Recently viewed cars</h5>
              </div>
              <div class="tool-box-in">
                <ul class="listing tool-view-listing">
                  <li>
                    <div class="imageb"><a href="vehicle-details.html"><img src="http://placehold.it/600x400&amp;text=IMAGE+PLACEHOLDER" alt=""></a></div>
                    <div class="textb">
                      <a href="vehicle-details.html">Nissan Terrano first hand</a>
                      <span class="price">$28000</span>
                    </div>
                    <div class="save"><a href="#"><i class="fa fa-star-o"></i></a></div>
                  </li>
                  <li>
                    <div class="imageb"><a href="vehicle-details.html"><img src="http://placehold.it/600x400&amp;text=IMAGE+PLACEHOLDER" alt=""></a></div>
                    <div class="textb">
                      <a href="vehicle-details.html">Mercedes Benz E class</a>
                      <span class="price">$76000</span>
                    </div>
                    <div class="save"><a href="#"><i class="fa fa-star-o"></i></a></div>
                  </li>
                </ul>
              </div>
              <div class="tool-box-foot">
                <a href="joinus.html" class="btn btn-xs btn-primary pull-right">Join</a>
                <a href="#" class="pull-right tool-signin" data-toggle="modal" data-target="#loginModal">Sign in</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-md-9 col-sm-9">
        <div class="btn-group pull-right results-sorter">
          <button type="button" class="btn btn-default listing-sort-btn">Filtro</button>
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#">Precio (High to Low)</a></li>
            <li><a href="#">Precio (Low to High)</a></li>
            <li><a href="#">Mileage (Low to High)</a></li>
            <li><a href="#">Mileage (High to Low)</a></li>
          </ul>
        </div>

        <div class="toggle-view view-count-choice pull-right">
          <label>Mostrar</label>
          <div class="btn-group">
            <a href="#" class="btn btn-default">10</a>
            <a href="#" class="btn btn-default active">20</a>
            <a href="#" class="btn btn-default">50</a>
          </div>
        </div>

        <div class="toggle-view view-format-choice pull-right">
          <label>Ver</label>
          <div class="btn-group">
            <a href="#" class="btn btn-default" id="results-list-view"><i class="fa fa-th-list"></i></a>
            <a href="#" class="btn btn-default active" id="results-grid-view"><i class="fa fa-th"></i></a>
          </div>
        </div>
        <!-- Small Screens Filters Toggle Button -->
        <button class="btn btn-default visible-xs" id="Show-Filters">Search Filters</button>
      </div>
    </div>
  </div>
</div>
<!-- Start Body Content -->
<div class="main" role="main">
  <div id="content" class="content full">
    <div class="container">
      <div class="row">
        <!-- Listing Results -->
        <div class="col-md-9 results-container">
          <div class="results-container-in">
            <div class="waiting" style="display:none;">
              <div class="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
              </div>
            </div>
            <div id="results-holder" class="results-grid-view">

              <% @vehicles.each do |vehicle| %>
                <!-- Result Item -->
                <div class="result-item format-standard">
                  <div class="result-item-image">
                    <a href="vehicle-details.html" class="media-box"><%= image_tag(vehicle.vehicle_images.first.image) %></a>
                    <span class="label label-primary vehicle-age"><%= vehicle.year %></span>
                    <span class="label label-success premium-listing"><%= vehicle.used ? "usado" : "nuevo" %></span>
                    <div class="result-item-view-buttons disabled">
                      <% if vehicle.video.nil? %>
                        <a href="#"><i class="fa fa-play"></i> Ver video</a>
                      <% else  %>
                        <a href="<%= vehicle.video %>" data-rel="prettyPhoto"><i class="fa fa-play"></i> Ver video</a>
                      <% end %>
                      <a href="<%= vehicle_url(vehicle) %>"><i class="fa fa-plus"></i> Ver detalles</a>
                    </div>
                  </div>
                  <div class="result-item-in">
                    <h4 class="result-item-title"><a href="<%= vehicle_url(vehicle) %>"><%= vehicle.name %></a></h4>
                    <div class="result-item-cont">
                      <div class="result-item-block col2">
                        <div class="result-item-pricing">
                          <div class="price">$<%= vehicle.price %></div>
                        </div>
                        <div class="result-item-action-buttons">
                          <a href="#" class="btn btn-default btn-sm"><i class="fa fa-star-o"></i> Save</a>
                          <a href="vehicle-details.html" class="btn btn-default btn-sm">Enquire</a><br>
                          <a href="#" class="distance-calc"><i class="fa fa-map-marker"></i> Distance from me?</a>
                        </div>
                      </div>
                    </div>
                    <div class="result-item-features">
                      <ul class="inline">
                        <li>Transmisión: <%= vehicle.transmission.capitalize %></li>
                        <li>Combustible: <%= vehicle.gas.capitalize %></li>
                        <li>Modelo: <%= vehicle.year %> </li></br>
                        <li>Motor: <%= vehicle.engine %></li>
                        <li>Kilometraje: <%= vehicle.mileage %> Kms</li>
                        <li>Cojineria:  <%= vehicle.upholstery %></li>
                        <li>Color:  <%= vehicle.color %></li>
                        <li>Placa: <%= "#{vehicle.license_plate_city} (Terminada en #{vehicle.license_plate})" %></li>
                        <li>COMENTARIOS: <%= vehicle.comments %></li>
                      </ul>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="spacer-60"></div>
<a id="back-to-top"><i class="fa fa-angle-double-up"></i></a>

