<div class="page-header parallax" style="background-image:url(<%= asset_path(@page.image) %>); margin-top: 150px;" data-mercury="image" id="page_image">
  <div class="container">
    <h1 class="page-title">Búsqueda</h1>
  </div>
</div>
<!-- Utiity Bar -->
<div class="utility-bar">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-8">
        <ol class="breadcrumb">
          <li><a href="<%= root_path %>">Inicio</a></li>
          <li class="active">Búsqueda</li>
        </ol>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-4">
      </div>
    </div>
  </div>
</div>
<!-- Actions bar -->
<div class="actions-bar tsticky">
  <div class="container">
    <div class="row">

        <div class="toggle-view view-format-choice pull-right">
          <label>Ver</label>
          <div class="btn-group">
            <a href="#" class="btn btn-default" id="results-list-view"><i class="fa fa-th-list"></i></a>
            <a href="#" class="btn btn-default active" id="results-grid-view"><i class="fa fa-th"></i></a>
          </div>
        </div>
        <!-- Small Screens Filters Toggle Button -->
        <button class="btn btn-default visible-xs" id="Show-Filters">Search Filters</button>
      </div>
    </div>
  </div>
</div>
<!-- Start Body Content -->
<div class="main" role="main">
  <div id="content" class="content full">
    <div class="container">
      <div class="row">
        <!-- Listing Results -->
        <div class="col-md-9 results-container">
          <div class="results-container-in">
            <div class="waiting" style="display:none;">
              <div class="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
              </div>
            </div>
            <div id="results-holder" class="results-grid-view">

              <% @vehicles.each do |vehicle| %>
                <!-- Result Item -->
                <div class="result-item format-standard">
                  <div class="result-item-image">
                    <a href="<%= vehicle_path(vehicle) %>" class="media-box"><%= image_tag(vehicle.vehicle_images.first.image) %></a>
                    <span class="label label-primary vehicle-age"><%= vehicle.year %></span>
                    <span class="label label-success premium-listing"><%= vehicle.used ? "usado" : "nuevo" %></span>
                    <div class="result-item-view-buttons disabled">
                      <% if vehicle.video.nil? %>
                        <a href="#"><i class="fa fa-play"></i> Ver video</a>
                      <% else  %>
                        <a href="<%= vehicle.video %>" data-rel="prettyPhoto"><i class="fa fa-play"></i> Ver video</a>
                      <% end %>
                      <a href="<%= vehicle_url(vehicle) %>"><i class="fa fa-plus"></i> Ver detalles</a>
                    </div>
                  </div>
                  <div class="result-item-in">
                    <h4 class="result-item-title"><a href="<%= vehicle_url(vehicle) %>"><%= vehicle.name %></a></h4>
                    <div class="result-item-cont">
                      <div class="result-item-block col2">
                        <div class="result-item-pricing">
                          <div class="price">$<%= currency(vehicle.price) %></div>
                        </div>
                        <div class="result-item-action-buttons">
                          <a href="#" class="btn btn-default btn-sm"><i class="fa fa-star-o"></i> Save</a>
                          <a href="vehicle-details.html" class="btn btn-default btn-sm">Enquire</a><br>
                          <a href="#" class="distance-calc"><i class="fa fa-map-marker"></i> Distance from me?</a>
                        </div>
                      </div>
                    </div>
                    <div class="result-item-features">
                      <ul class="inline">
                        <li>Transmisión: <%= vehicle.transmission.capitalize %></li>
                        <li>Combustible: <%= vehicle.gas.capitalize %></li>
                        <li>Modelo: <%= vehicle.year %> </li></br>
                        <li>Motor: <%= vehicle.engine %></li>
                        <li>Kilometraje: <%= vehicle.mileage %> Kms</li>
                        <li>Cojineria:  <%= vehicle.upholstery %></li>
                        <li>Color:  <%= vehicle.color %></li>
                        <li>Placa: <%= "#{vehicle.license_plate_city} (Terminada en #{vehicle.license_plate})" %></li>
                        <li>COMENTARIOS: <%= vehicle.comments %></li>
                      </ul>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="spacer-60"></div>
<a id="back-to-top"><i class="fa fa-angle-double-up"></i></a>

