<div class="page-header parallax" style="background-image:url(<%= asset_path(@page.image) %>); margin-top: 150px;" data-mercury="image" id="page_image">
  <div class="container">
    <h1 class="page-title"><%= navbar_title %></h1>
  </div>
</div>
<!-- Utiity Bar -->
<div class="utility-bar">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-8">
        <ol class="breadcrumb">
          <li><a href="index.html">Inicio</a></li>
          <li class="active"><%= navbar_title %></li>
        </ol>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-4">
      </div>
    </div>
  </div>
</div>
<!-- Actions bar -->
<div class="actions-bar tsticky">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-3 search-actions">
        <div class="toggle-view view-format-choice pull-right">
          <label>Ver</label>
          <div class="btn-group">
            <a href="#" class="btn btn-default" id="results-list-view"><i class="fa fa-th-list"></i></a>
            <a href="#" class="btn btn-default active" id="results-grid-view"><i class="fa fa-th"></i></a>
          </div>
        </div>
        <!-- Small Screens Filters Toggle Button -->
        <button class="btn btn-default visible-xs" id="Show-Filters">Search Filters</button>
      </div>
    </div>
  </div>
</div>
<!-- Start Body Content -->
<div class="main" role="main">
  <div id="content" class="content full">
    <div class="container">
      <div class="row">
        <!-- Search Filters -->
        <div class="col-md-3 search-filters" id="Search-Filters">
          <div class="filters-sidebar">
            <h3>Búsqueda</h3>
            <div class="accordion" id="toggleArea">
              <!-- Filter by Year -->
              <div class="accordion-group panel">
                <div class="accordion-heading togglize"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#" href="#collapseOne">Año<i class="fa fa-angle-down"></i> </a> </div>
                <div id="collapseOne" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <form class="form-inline">
                      <div class="form-group">
                        <label>Min Año</label>
                        <select name="Min Year" class="form-control selectpicker">
                          <option selected>Todos</option>
                          <% Vehicle.uniq.pluck(:year).sort.each do |year| %>
                            <option><%= year %></option>
                          <% end %>
                        </select>
                      </div>
                      <div class="form-group last-child">
                        <label>Max año</label>
                        <select name="Max Year" class="form-control selectpicker">
                          <option selected>Todos</option>
                          <% Vehicle.uniq.pluck(:year).sort.each do |year| %>
                            <option><%= year %></option>
                          <% end %>
                        </select>
                        <select name="vehicle_class" class="form-control selectpicker hidden">
                          <option selected><%= params_vehicle_class %></option>
                        </select>
                        <select name="used" class="form-control selectpicker hidden">
                          <option selected><%= is_used %></option>
                        </select>
                      </div>
                      <%= link_to vehicles_search_filter_path do %>
                        <button type="submit" class="btn btn-default btn-sm pull-right">Filtro</button>
                      <% end %>
                    </form>
                  </div>
                </div>
              </div>
              <!-- Filter by Make -->
              <div class="accordion-group panel">
                <div class="accordion-heading togglize"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#" href="#collapseTwo">Marca<i class="fa fa-angle-down"></i> </a> </div>
                <div id="collapseTwo" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <ul class="filter-options-list list-group">
                      <% Brand.all.each do |brand| %>
                        <li class="list-group-item"><span class="badge"><%= brand.vehicles.count %></span><a href="#"><%= link_to brand.name, vehicles_search_filter_path(brand: brand, vehicle_class: params_vehicle_class, used: is_used) %></a></li>
                      <% end %>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- Filter by Model -->
              <div class="accordion-group">
                <div class="accordion-heading togglize"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#" href="#collapseThird">Modelo <i class="fa fa-angle-down"></i> </a> </div>
                <div id="collapseThird" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <ul class="filter-options-list list-group">
                      <% Vehicle.uniq.pluck(:year).sort.each do |year| %>
                        <li class="list-group-item"><a href="#"><%= link_to year, vehicles_search_filter_path(year: year, vehicle_class: params_vehicle_class, used: is_used) %></a></li>
                      <% end %>
                    </ul>
                  </div>
                </div>
              </div>


              <!-- Filter by Price -->
              <div class="accordion-group">
                <div class="accordion-heading togglize"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#" href="#collapseEight">Precio <i class="fa fa-angle-down"></i> </a> </div>
                <div id="collapseEight" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <form class="form-inline">
                      <div class="form-group">
                        <label>Precio Min</label>
                        <select name="Min Price" class="form-control selectpicker">
                          <option selected>Todos</option>
                          <% Vehicle.uniq.pluck(:price).sort.each do |price| %>
                            <option><%= price %></option>
                          <% end %>
                        </select>
                      </div>
                      <div class="form-group last-child">
                        <label>Precio Max</label>
                        <select name="Max Price" class="form-control selectpicker">
                          <option selected>Todos</option>
                          <% Vehicle.uniq.pluck(:price).sort.each do |price| %>
                            <option><%= price %></option>
                          <% end %>
                        </select>
                        <select name="vehicle_class" class="form-control selectpicker hidden">
                          <option selected><%= params_vehicle_class %></option>
                        </select>
                        <select name="used" class="form-control selectpicker hidden">
                          <option selected><%= is_used %></option>
                        </select>
                      </div>
                      <%= link_to vehicles_search_filter_path do %>
                        <button type="submit" class="btn btn-default btn-sm pull-right">Filtro</button>
                      <% end %>
                    </form>
                  </div>
                </div>
              </div>


            </div>
            <!-- End Toggle -->
          </div>
        </div>

        <!-- Listing Results -->
        <div class="col-md-9 results-container">
          <div class="results-container-in">
            <div class="waiting" style="display:none;">
              <div class="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
              </div>
            </div>
            <div id="results-holder" class="results-grid-view">

              <% @vehicles.each do |vehicle| %>
                <!-- Result Item -->
                <div class="result-item format-standard">
                  <div class="result-item-image">
                    <a href="<%= vehicle_url(vehicle) %>" class="media-box"><%= image_tag(vehicle.vehicle_images.first.image) %></a>
                    <span class="label label-primary vehicle-age"><%= vehicle.year %></span>
                    <span class="label label-success premium-listing"><%= vehicle.used ? "usado" : "nuevo" %></span>
                    <div class="result-item-view-buttons disabled">
                      <% if vehicle.video.nil? %>
                        <a href="#"><i class="fa fa-play"></i> Ver video</a>
                      <% else  %>
                        <a href="<%= vehicle.video %>" data-rel="prettyPhoto"><i class="fa fa-play"></i> Ver video</a>
                      <% end %>
                      <a href="<%= vehicle_url(vehicle) %>"><i class="fa fa-plus"></i> Ver detalles</a>
                    </div>
                  </div>
                  <div class="result-item-in">
                    <h4 class="result-item-title"><a href="<%= vehicle_url(vehicle) %>"><%= vehicle.name %></a></h4>
                    <div class="result-item-cont">
                      <div class="result-item-block col2">
                        <div class="result-item-pricing">
                          <div class="price">$<%= vehicle.price %></div>
                        </div>
                        <div class="result-item-action-buttons">
                          <a href="#" class="btn btn-default btn-sm"><i class="fa fa-star-o"></i> Save</a>
                          <a href="vehicle-details.html" class="btn btn-default btn-sm">Enquire</a><br>
                          <a href="#" class="distance-calc"><i class="fa fa-map-marker"></i> Distance from me?</a>
                        </div>
                      </div>
                    </div>
                    <div class="result-item-features">
                      <ul class="inline">
                        <li>Transmisión: <%= vehicle.transmission.capitalize %></li>
                        <li>Combustible: <%= vehicle.gas.capitalize %></li>
                        <li>Modelo: <%= vehicle.year %> </li></br>
                        <li>Motor: <%= vehicle.engine %></li>
                        <li>Kilometraje: <%= vehicle.mileage %> Kms</li>
                        <li>Cojineria:  <%= vehicle.upholstery %></li>
                        <li>Color:  <%= vehicle.color %></li>
                        <li>Placa: <%= "#{vehicle.license_plate_city} (Terminada en #{vehicle.license_plate})" %></li>
                        <li>COMENTARIOS: <%= vehicle.comments %></li>
                      </ul>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="spacer-60"></div>
<a id="back-to-top"><i class="fa fa-angle-double-up"></i></a>

