<header class="site-header">
  <div class="container sp-cont">
    <div class="header-right">
      <div class="topnav dd-menu">
          <ul class="top-navigation sf-menu" style="font-size: 12px;">
            <li><%= link_to "Contactos", contacts_path %></li>
            <li><%= link_to "Noticias", news_index_path %></li>
            <li><%= link_to "Categorías", categories_path %></li>
            <li><%= link_to "Marcas", brands_path %></li>
            <li><%= link_to "Vehículos", vehicles_path %></li>
            <li><%= link_to "Opiniones", opinions_path %></li>
            <li><%= link_to "Trámites" , procedures_path %></li>
            <li><%= link_to "Salir", destroy_user_session_path, method: :delete %></li>
          </ul>
      </div>
    </div>
  </div>
</header>
