<header class="site-header">
  <div class="container sp-cont">
    <div class="site-logo">
      <h1><a href="/"><%= image_tag("logo_01.png", alt: "Poblautos") %></a></h1>
      <span class="site-tagline"><br>
          <span class="accent-color"></span>
      </span>
    </div>
    <div class="header-right">
      <div class="user-login-panel">
          <a target="_blank" href="https://www.youtube.com/channel/UC6ueq_kKTQDggWTjFeHUiJQ" class="user-login-btn"><i class="fa fa-youtube-play"></i></a>
      </div>
      <div class="topnav dd-menu">
          <ul class="top-navigation sf-menu">
          <% if user_signed_in? %>
            <li><%= link_to "Sliders-home", sliders_path %></li>
            <li><%= link_to "Servicios-links", links_path %></li>
            <li><%= link_to "Contraseña", edit_user_registration_path %></li>
            <li><%= link_to "Salir", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><a href="<%= vehicles_new_vehicles_path %>"><i class="fa fa-car"></i> Compra Ahora</a></li>
            <li><a data-toggle="modal" data-target="#procedures"><i class="fa fa-folder-open"></i> Trámites</a></li>
            <li><a href="<%= pages_contact_path %>"><i class="fa fa-user"></i> Escríbanos</a></li>
          <% end %>
          </ul>
      </div>
    </div>
  </div>
</header>
