<style>
  .vehicle-image {
    width: 100px;
  }
</style>

<div class="navbar">
  <div class="container sp-cont">
    <div class="search-function">
      <a href="#" class="search-trigger"><i class="fa fa-search"></i></a>
      <span><i class="fa fa-phone"></i> Llámanos <strong>+57 (4) 3122222</strong></span>
    </div>
    <a href="#" class="visible-sm visible-xs" id="menu-toggle"><i class="fa fa-bars"></i></a>
    <!-- Main Navigation -->
    <nav class="main-navigation dd-menu toggle-menu" role="navigation">
      <ul class="sf-menu">
        <li><%= link_to "Inicio", root_path %>
        </li>
        <li><%= link_to "Empresa", pages_company_path %>
        </li>
        <li><%= link_to "Servicios", pages_services_path %>
        </li>
        <li class="megamenu"><a href="javascript:void(0)">Vehículos</a>
          <ul class="dropdown">
            <li>
              <div class="megamenu-container container">
                <div class="row">
                  <div class="mm-col col-md-2">
                    <ul class="sub-menu">
                      <li><%= link_to "Vehículos Nuevos", vehicles_new_vehicles_path %></li>
                      <li><%= link_to "Vehículos Usados", vehicles_used_path %></li>
                      <li><%= link_to "Servicio Técnico", pages_services_path %></li>
                      <li><%= link_to "Trámites Poblautos", pages_services_path %></li>
                      <li><%= link_to "Seguros", pages_services_path %></li>
                    </ul>
                  </div>

                  <div class="mm-col col-md-5">
                    <span class="megamenu-sub-title"><span class="accent-color"><strong>NUEVOS</strong></span></span>
                    <ul class="make-widget">
                      <% Vehicle.where(used: false, vehicle_class: 0).each do |vehicle| %>
                        <li class="item"> <a href="<%= vehicle_path(vehicle) %>"><%= image_tag(vehicle.vehicle_images.first.image, class: "vehicle-image", width: "100") %></a></li>
                      <% end %>
                    </ul>
                    <%= link_to "Ver Todo", vehicles_new_vehicles_path %>
                  </div>

                  <div class="mm-col col-md-5">
                   <span class="megamenu-sub-title"><span class="accent-color"><strong>USADOS</strong></span></span>
                   <ul class="make-widget">
                    <% Vehicle.where(used: true, vehicle_class: 0).each do |vehicle| %>
                      <li class="item"> <a href="<%= vehicle_path(vehicle) %>"><%= image_tag(vehicle.vehicle_images.first.image, class: "vehicle-image", width: "100") %></a></li>
                    <% end %>
                  </ul>
                  <%= link_to "Ver Todo", vehicles_used_path %>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </li>
      <li class="megamenu"><a href="javascript:void(0)">Motos</a>
        <ul class="dropdown">
          <li>
            <div class="megamenu-container container">
              <div class="row">
                <div class="mm-col col-md-2">
                  <ul class="sub-menu">
                    <li><%= link_to "Motos Nuevas", motorcycles_new_motorcycles_path %></li>
                    <li><%= link_to "Motos Usadas", motorcycles_used_path %></li>
                    <li><%= link_to "Servicio Técnico", pages_services_path %></li>
                    <li><%= link_to "Trámites Poblautos", pages_services_path %></li>
                    <li><%= link_to "Seguros", pages_services_path %></li>
                  </ul>
                </div>

                <div class="mm-col col-md-5">
                  <span class="megamenu-sub-title"><span class="accent-color"><strong>NUEVOS</strong></span></span>
                  <ul class="make-widget">
                    <% Vehicle.where(used: false, vehicle_class: 1).each do |vehicle| %>
                      <li class="item"> <a href="<%= vehicle_path(vehicle) %>"><%= image_tag(vehicle.vehicle_images.first.image, class: "vehicle-image", width: "100") %></a></li>
                    <% end %>
                  </ul>
                  <%= link_to "Ver Todo", motorcycles_new_motorcycles_path %>
                </div>

                <div class="mm-col col-md-5">
                 <span class="megamenu-sub-title"><span class="accent-color"><strong>USADOS</strong></span></span>
                 <ul class="make-widget">
                  <% Vehicle.where(used: true, vehicle_class: 1).each do |vehicle| %>
                    <li class="item"> <a href="<%= vehicle_path(vehicle) %>"><%= image_tag(vehicle.vehicle_images.first.image, class: "vehicle-image", width: "100") %></a></li>
                  <% end %>
                </ul>
                <%= link_to "Ver Todo", motorcycles_used_path  %>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </li>
    <li><%= link_to "Noticias", pages_news_path %>
    </li>
    <li><%= link_to "Contacto", pages_contact_path %>
    </li>
  </ul>
</nav>
<!-- Search Form -->
<div class="search-form">
  <div class="search-form-inner">
    <form>
      <h3>Encuentra el carro que deseas en nuestro buscador</h3>
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <div class="row">
            <div class="col-md-6">
              <label>Marca</label>
              <select name="brand" class="form-control selectpicker">
                <option selected>Todos</option>
                <% Brand.all.each do |brand| %>
                  <option value="<%= brand.id %>"><%= brand.name %></option>
                <% end %>
              </select>
            </div>
            <div class="col-md-6">
              <label>Color</label>
              <select name="color" class="form-control selectpicker">
                <option selected>Todos</option>
                <% Vehicle.uniq.pluck(:color).each do |color| %>
                  <option><%= color %></option>
                <% end %>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>Blindaje</label>
              <select name="shield" class="form-control selectpicker">
                <option selected>Todos</option>
                <option value="true">Si</option>
                <option value="false">No</option>
              </select>
            </div>
            <div class="col-md-6">
              <label>Modelo</label>
              <select name="model" class="form-control selectpicker">
                <option selected>Todos</option>
                <% Vehicle.uniq.pluck(:year).sort.each do |year| %>
                  <option><%= year %></option>
                <% end %>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>Precio Min</label>
              <select name="min-price" class="form-control selectpicker">
                <option selected>Todos</option>
                <% Vehicle.uniq.pluck(:price).sort.each do |price| %>
                  <option><%= price %></option>
                <% end %>
              </select>
            </div>
            <div class="col-md-6">
              <label>Precio Máx</label>
              <select name="max-price" class="form-control selectpicker">
                <option selected>Todos</option>
                <% Vehicle.uniq.pluck(:price).sort.each do |price| %>
                  <option><%= price %></option>
                <% end %>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <label class="checkbox-inline">
                <input type="checkbox" id="inlineCheckbox1" value="Todos"> Solo Nuevos
              </label>
              <label class="checkbox-inline">
                <input type="checkbox" id="inlineCheckbox2" value="Todos"> Certificados
              </label>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="row">
            <div class="col-md-6">
              <label>Año Min</label>
              <select name="min-year" class="form-control selectpicker">
                <option selected>Todos</option>
                <% Vehicle.uniq.pluck(:year).sort.each do |year| %>
                  <option><%= year %></option>
                <% end %>
              </select>
            </div>
            <div class="col-md-6">
              <label>Año Máx</label>
              <select name="max-year" class="form-control selectpicker">
                <option selected>Todos</option>
                <% Vehicle.uniq.pluck(:year).sort.each do |year| %>
                  <option><%= year %></option>
                <% end %>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>Combustible</label>
              <select name="gas" class="form-control selectpicker">
                <option selected>Todos</option>
                <option>Gasolina</option>
                <option>Gas</option>
                <option>Electrónico</option>
              </select>
            </div>
            <div class="col-md-6">
              <label>Pico y Placa</label>
              <select name="license_plate" class="form-control selectpicker">
                <option selected>Todos</option>
                <option>Par</option>
                <option>Impar</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>0</option>

              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>Transmisión</label>
              <select name="transmission" class="form-control selectpicker">
                <option selected>Todos</option>
                <option>Mecánico</option>
                <option>Automático</option>

              </select>
            </div>
            <div class="col-md-6">
              <label>Aire Acondicionado</label>
              <select name="air_conditioning" class="form-control selectpicker">
                <option selected>Todos</option>
                <option value="true">Si</option>
                <option value="false">No</option>

              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <%= link_to vehicles_search_filter_path do %>
                <%= submit_tag "BUSCAR", class: "btn btn-block btn-info btn-lg search_submit" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
</div>
</div>

<script>
  // $(document).ready(function() {
  //   $(".search_submit").on("click", function(e) {
  //     e.preventDefault();
  //   })
  // })
</script>