<style>
  .vehicle-image {
    width: 60px;
  }

  .vehicle-font {
    font-family: 'Roboto', sans-serif;
  }

  .main-navigation > ul > li > a {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
  }

  .search_submit {
    background-color: #EBC500;
  }

  .search_submit:hover {
    background-color: #EBC500;
  }

</style>

<div class="navbar">
  <div class="container sp-cont">
    <div class="search-function">
      <a href="#" class="search-trigger"><i class="fa fa-search"></i></a>
      <span><i class="fa fa-phone"></i> Llámanos <strong>+57 (4) 3122222</strong></span>
    </div>
    <a href="#" class="visible-sm visible-xs" id="menu-toggle"><i class="fa fa-bars"></i></a>
    <!-- Main Navigation -->
    <nav class="main-navigation dd-menu toggle-menu" role="navigation">
      <ul class="sf-menu" style="font-size: 30px">
        <li><%= link_to "Inicio", root_path %>
        </li>
        <li><%= link_to "Empresa", pages_company_path %>
        </li>
        <li><%= link_to "Servicios", pages_services_path %>
        </li>
        <li class="megamenu nav-font"><a href="javascript:void(0)">Vehículos</a>
          <ul class="dropdown">
            <li>
              <div class="megamenu-container container">
                <div class="row">
                  <div class="mm-col col-md-2">
                    <ul class="sub-menu">
                      <li><%= link_to "Vehículos Nuevos", vehicles_new_vehicles_path %></li>
                      <li><%= link_to "Vehículos Usados", vehicles_used_path %></li>
                      <li><%= link_to "Servicio Técnico", pages_services_path %></li>
                      <li><a data-toggle="modal" data-target="#procedures">Trámites Poblautos</a></li>
                      <li><%= link_to "Seguros", pages_services_path %></li>
                    </ul>
                  </div>

                  <div class="mm-col col-md-5">
                    <span class="megamenu-sub-title"><span class="accent-color"><strong class="vehicle-font">NUEVOS</strong></span></span>
                    <ul class="make-widget">
                      <% Vehicle.where(vehicle_class: 0, used: false).uniq.pluck(:brand_id).each do |brand| %>
                        <li class="item"> <%= link_to vehicles_search_filter_path(brand_id: brand, vehicle_class: 0, used: false) do %><%= image_tag(Brand.find(brand).image.url(:nav_bar), class: "vehicle-image", width: '60px') %>
                          <% end %>
                        </li>
                      <% end %>
                    </ul>
                    <%= link_to "Ver Todo", vehicles_new_vehicles_path, class: 'basic-link' %>
                  </div>

                  <div class="mm-col col-md-5">
                   <span class="megamenu-sub-title"><span class="accent-color"><strong class="vehicle-font">USADOS</strong></span></span>
                   <ul class="make-widget">
                    <% Vehicle.where(vehicle_class: 0, used: true).uniq.pluck(:brand_id).each do |brand| %>
                      <li class="item"> <%= link_to vehicles_search_filter_path(:brand_id => brand, vehicle_class: 1, used: true) do %><%= image_tag(Brand.find(brand).image.url(:nav_bar), class: "vehicle-image", width: '60px') %>
                        <% end %>
                      </li>
                    <% end %>
                  </ul>
                  <%= link_to "Ver Todo", vehicles_used_path, class: 'basic-link' %>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </li>
      <li class="megamenu"><a href="javascript:void(0)">Motos</a>
        <ul class="dropdown">
          <li>
            <div class="megamenu-container container">
              <div class="row">
                <div class="mm-col col-md-2">
                  <ul class="sub-menu">
                    <li><%= link_to "Motos Nuevas", motorcycles_new_motorcycles_path %></li>
                    <li><%= link_to "Motos Usadas", motorcycles_used_path %></li>
                    <li><%= link_to "Servicio Técnico", pages_services_path %></li>
                    <li><a data-toggle="modal" data-target="#procedures">Trámites Poblautos</a></li>
                    <li><%= link_to "Seguros", pages_services_path %></li>
                  </ul>
                </div>

                <div class="mm-col col-md-5">
                  <span class="megamenu-sub-title"><span class="accent-color"><strong class="vehicle-font">NUEVOS</strong></span></span>
                  <ul class="make-widget">
                    <% Vehicle.where(vehicle_class: 1, used: false).uniq.pluck(:brand_id).each do |brand| %>
                      <li class="item"> <%= link_to vehicles_search_filter_path(:brand_id => brand, vehicle_class: 1, used: false) do %><%= image_tag(Brand.find(brand).image.url(:nav_bar), class: "vehicle-image") %>
                        <% end %>
                      </li>
                    <% end %>
                  </ul>
                  <%= link_to "Ver Todo".html_safe, motorcycles_new_motorcycles_path, class: 'basic-link' %>
                </div>

                <div class="mm-col col-md-5">
                 <span class="megamenu-sub-title"><span class="accent-color"><strong class="vehicle-font">USADOS</strong></span></span>
                 <ul class="make-widget">
                  <% Vehicle.where(vehicle_class: 1, used: true).uniq.pluck(:brand_id).each do |brand| %>
                    <li class="item"> <%= link_to vehicles_search_filter_path(:brand_id => brand, vehicle_class: 1, used: true) do %><%= image_tag(Brand.find(brand).image.url(:nav_bar), class: "vehicle-image") %>
                      <% end %>
                    </li>
                  <% end %>
                </ul>
                <%= link_to "Ver Todo", motorcycles_used_path, class: 'basic-link'  %>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </li>
    <li><%= link_to "Noticias", pages_news_path %>
    </li>
    <li><%= link_to "Contacto", pages_contact_path %>
    </li>
  </ul>
</nav>
<!-- Search Form -->
<div class="search-form">
  <div class="search-form-inner">
    <form action="/vehicles/search_filter">
      <h3>Encuentra el carro que deseas en nuestro buscador</h3>
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <div class="row">
            <div class="col-md-6">
              <label>Marca</label>
              <select name="brand_id" class="form-control selectpicker">
                <option selected>Todos</option>
                <% Brand.all.each do |brand| %>
                  <option value="<%= brand.id %>"><%= brand.name %></option>
                <% end %>
              </select>
            </div>
            <div class="col-md-6">
              <label>Color</label>
              <select name="color" class="form-control selectpicker">
                <option selected>Todos</option>
                <% Vehicle.uniq.pluck(:color).each do |color| %>
                  <option><%= color %></option>
                <% end %>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>Blindaje</label>
              <select name="shield" class="form-control selectpicker">
                <option selected>Todos</option>
                <option value="true">Si</option>
                <option value="false">No</option>
              </select>
            </div>
            <div class="col-md-6">
              <label>Modelo</label>
              <select name="model" class="form-control selectpicker">
                <option selected>Todos</option>
                <% Vehicle.uniq.pluck(:year).sort.each do |year| %>
                  <option><%= year %></option>
                <% end %>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>Precio Min</label>
              <select name="min-price" class="form-control selectpicker">
                <option selected>Todos</option>
                  <option value="0">Menos de $5.000.000</option>
                  <option value="5000000">$5.000.000</option>
                  <option value="10000000">$10.000.000</option>
                  <option value="20000000">$20.000.000</option>
                  <option value="30000000">$30.000.000</option>
                  <option value="40000000">$40.000.000</option>
                  <option value="60000000">$60.000.000</option>
                  <option value="70000000">$70.000.000</option>
                  <option value="80000000">$80.000.000</option>
                  <option value="90000000">$90.000.000</option>
                  <option value="100000000">$100.000.000</option>
                  <option value="120000000">$120.000.000</option>
                  <option value="130000000">$130.000.000</option>
                  <option value="140000000">$140.000.000</option>
                  <option value="150000000">$150.000.000</option>
                  <option value="160000000">$160.000.000</option>
                  <option value="170000000">$170.000.000</option>
                  <option value="180000000">$180.000.000</option>
                  <option value="190000000">$190.000.000</option>
                  <option value="200000000">$200.000.000</option>
                  <option value="230000000">$230.000.000</option>
                  <option value="250000000">$250.000.000</option>
                  <option value="270000000">$270.000.000</option>
                  <option value="300000000">$300.000.000</option>
                  <option value="400000000">$400.000.000</option>
                  <option value="500000000">$500.000.000</option>
                  <option value="600000000">$600.000.000</option>
                  <option value="700000000">$700.000.000</option>
                  <option value="800000000">$800.000.000</option>
              </select>
            </div>
            <div class="col-md-6">
              <label>Precio Máx</label>
              <select name="max-price" class="form-control selectpicker">
                <option selected>Todos</option>
                <option value="5000000">$5.000.000</option>
                <option value="10000000">$10.000.000</option>
                <option value="20000000">$20.000.000</option>
                <option value="30000000">$30.000.000</option>
                <option value="40000000">$40.000.000</option>
                <option value="60000000">$60.000.000</option>
                <option value="70000000">$70.000.000</option>
                <option value="80000000">$80.000.000</option>
                <option value="90000000">$90.000.000</option>
                <option value="100000000">$100.000.000</option>
                <option value="120000000">$120.000.000</option>
                <option value="130000000">$130.000.000</option>
                <option value="140000000">$140.000.000</option>
                <option value="150000000">$150.000.000</option>
                <option value="160000000">$160.000.000</option>
                <option value="170000000">$170.000.000</option>
                <option value="180000000">$180.000.000</option>
                <option value="190000000">$190.000.000</option>
                <option value="200000000">$200.000.000</option>
                <option value="230000000">$230.000.000</option>
                <option value="250000000">$250.000.000</option>
                <option value="270000000">$270.000.000</option>
                <option value="300000000">$300.000.000</option>
                <option value="400000000">$400.000.000</option>
                <option value="500000000">$500.000.000</option>
                <option value="600000000">$600.000.000</option>
                <option value="700000000">$700.000.000</option>
                <option value="800000000">$800.000.000</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="row">
            <div class="col-md-6">
              <label>Año Min</label>
              <select name="min-year" class="form-control selectpicker">
                <option selected>Todos</option>
                <% Vehicle.uniq.pluck(:year).sort.each do |year| %>
                  <option><%= year %></option>
                <% end %>
              </select>
            </div>
            <div class="col-md-6">
              <label>Año Máx</label>
              <select name="max-year" class="form-control selectpicker">
                <option selected>Todos</option>
                <% Vehicle.uniq.pluck(:year).sort.each do |year| %>
                  <option><%= year %></option>
                <% end %>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>Combustible</label>
              <select name="gas" class="form-control selectpicker">
                <option selected>Todos</option>
                <option>Gasolina</option>
                <option>Gas</option>
                <option>Eléctrico</option>
              </select>
            </div>
            <div class="col-md-6">
              <label>Pico y Placa</label>
              <select name="license_plate" class="form-control selectpicker">
                <option selected>Todos</option>
                <option>Par</option>
                <option>Impar</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>0</option>

              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label>Transmisión</label>
              <select name="transmission" class="form-control selectpicker">
                <option selected>Todos</option>
                <option>Mecánico</option>
                <option>Automático</option>

              </select>
            </div>
            <div class="col-md-6">
              <label>Cojinería</label>
              <select name="upholstery" class="form-control selectpicker">
                <option selected>Todos</option>
                <option>Cuero</option>
                <option>Tela</option>
                <option>Semicuero</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
          <%= link_to vehicles_search_filter_path do %>
            <%= submit_tag "BUSCAR", class: "btn btn-block btn-info btn-lg search_submit" %>
          <% end %>
        </div>
      </div>
    </form>
  </div>
</div>
</div>
</div>

<script>
  // $(document).ready(function() {
  //   $(".search_submit").on("click", function(e) {
  //     e.preventDefault();
  //   })
  // })
</script>
