<!DOCTYPE html>
<html>
<head>
  <title>Poblautos - Manejamos tu pasión</title>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
  <!-- GOOGLE FONTS FOR SLIDER REVOLUTION -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "bootstrap.css" %>
  <%= stylesheet_link_tag "bootstrap-theme.css" %>
  <%= stylesheet_link_tag "style.css" %>
  <%= stylesheet_link_tag "prettyPhoto.css" %>
  <%= stylesheet_link_tag "owl.carousel.css" %>
  <%= stylesheet_link_tag "owl.theme.css" %>
  <%= stylesheet_link_tag "extralayers.css", media: "screen" %>
  <%= stylesheet_link_tag "settings.css"%>
  <%= stylesheet_link_tag "color1.css" %>
  <%= javascript_include_tag "modernizr.js" %>


</head>
<body>


  <!-- Start Site Header -->
  <div class="site-header-wrapper">
    <%= render 'layouts/header' %>
    <!-- End Site Header -->
    <%= render 'layouts/nav_bar' %>
  </div>

<%= yield %>

<%= render 'layouts/footer' %>

<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script> <!-- Jquery Library Call -->
<%= javascript_include_tag "prettyphoto.js" %>
<%= javascript_include_tag "ui-plugins.js" %>
<%= javascript_include_tag "helper-plugins.js" %>
<%= javascript_include_tag "owl.carousel.min.js" %>
<%= javascript_include_tag "password-checker.js" %>
<%= javascript_include_tag "bootstrap.js" %>
<%= javascript_include_tag "init.js" %>
<%= javascript_include_tag "jquery.flexslider.js" %>
<!-- SLIDER REVOLUTION 4.x SCRIPTS  -->
<%= javascript_include_tag "jquery.themepunch.tools.min.js" %>
<%= javascript_include_tag "jquery.themepunch.revolution.min.js" %>

</body>
</html>
