<!DOCTYPE html>
<html>
<head>
  <title>Poblautos</title>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
  <!-- GOOGLE FONTS FOR SLIDER REVOLUTION -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "bootstrap.css" %>
  <%= stylesheet_link_tag "bootstrap-theme.css" %>
  <%= stylesheet_link_tag "style.css" %>
  <%= stylesheet_link_tag "prettyPhoto.css" %>
  <%= stylesheet_link_tag "owl.carousel.css" %>
  <%= stylesheet_link_tag "owl.theme.css" %>
  <%= stylesheet_link_tag "extralayers.css", media: "screen" %>
  <%= stylesheet_link_tag "settings.css", media: "screen" %>
  <%= stylesheet_link_tag "color1.css" %>
  <%= javascript_include_tag "modernizr.js" %>


</head>
<body>

  <!-- Start Site Header -->
  <div class="site-header-wrapper">
    <?php include("includes/header.php"); ?>
    <!-- End Site Header -->
    <?php include("includes/menu.php"); ?>
  </div>

<%= yield %>

</body>
</html>
